
@{
    ViewBag.Title = "Desktop";
    Layout = "~/Views/Shared/Desktop.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/Desktop.js"></script>
<script src="~/Scripts/App.js"></script>
<script src="~/Scripts/Module.js"></script>


<div id="x-desktop">
    <!----> <a href="http://extjs.com" target="_blank" style="margin:5px; float:right;">
        <img src="../../images/PASL.jpg" style="height:60px;width:80px;" />
    </a>

    <dl id="x-shortcuts" class="dl">

        <dt id="mast" class="master">
            <a id="dtCap">
                <img src="../images/grid48x48.png" />
                <div>Menu Master</div>
            </a>
        </dt>

        <dt id="branchReq" class="grid branchReq">
            <a id="grd">
                <img src="../images/grid48x48.png" />
                <div>Branch Requisition</div>
            </a>
        </dt>

        <dt id="acc-win-accounts" class="grid accntentry">
            <a id="acc">
                <img src="../images/grid48x48.png" />
                <div>Accounts</div>
            </a>
        </dt>

        <dt id="management" class="grid management">
            <a id="recoveries">
                <img src="../images/grid48x48.png" class="gridimg" />
                <div>Management</div>
            </a>
        </dt>

        <dt id="gmodules" class="gen_modules">
            <a id="cse_mgmt">
                <img src="../images/grid48x48.png" class="gridimg" />
                <div>Case Management</div>
            </a>
        </dt>

        <dt id="acc-win-reports" class="reports">
            <a id="rept" href="#">
                <img src="images/s.gif" />
                <div>Reports</div>
            </a>
        </dt>

        <dt id="acc_win_credentials" class="cred">
            <a id="cred" href="#">
                <img src="../images/app_credentials.png" />
                <div>Credentials</div>
            </a>
        </dt>

        <dt id="acc-win-logout" class="ext">
            <a id="logoff">
                <img src="images/s.gif" style="background:no-repeat;" />
                <div>Log off</div>
            </a>
        </dt>
    </dl>

</div>


<div id="ux-taskbar">
    <div id="ux-taskbar-start"></div>
    <div id="ux-taskbuttons-panel"></div>
    <div class="x-clear"></div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        //$('#x-shortcuts dt').hide();
        $('.dl dt').hide();
        Ext.BLANK_IMAGE_URL = "../../images/s.gif";
        Ext.QuickTips.init(); //enable tooltips
        Ext.chart.Chart.CHART_URL = '../../images/charts.swf';

        $.getScript('../../Scripts/applicationparts.js', function () {
            var mdata = [];
            $.get('/Utility/GetAssignedModules', {}, function (data) {
                var count = data.length;
                //var icons = $('#x-shortcuts dt');
                var icons = $('.dl dt');
                var icons_count = icons.length;

                //iterating over the data array
                $.each(data, function (idx, _value) {
                    //iterating over the controls
                    $.each(icons, function (i, ctrl) {
                        var control = $(this);
                        if (i <= icons_count - 1) {
                            if (control.hasClass(_value.SystemName)) {
                                $.getScript('../../Scripts/evCallbacks/' + _value.SystemName + '.js');
                                control.show();
                            }
                        }

                    });
                });

            }); //end of get method call
        }); // end of getScript

        $('#x-desktop').zoom = '90%';

    });


</script>